<div class="d-inline-block w-100">
    <button type="button" class="float-start bg-white border-0 decorationUnderligne fs-5 text-uppercase fw-bolder" @onclick="() => Return()">
        <i class="fa fa-backward pt-2 me-2" aria-hidden="true"></i>Retour à la liste
    </button>
</div>
